# Environment variables
**/.env

# Log files and directories
**/logs/
**/*.log

# Database migrations (optional: ignore versioned files if regenerated often)
**/alembic/versions/*

# Local development or testing artifacts
**/__pycache__/
**/*.pyc

# Virtual environments
**/venv/
**/env/

# Personal folders
**/personal/
**/personal/*

# Personal file
**/notes.py
**/notes.txt
**/notes.md
**/wipe.py
**/seed.py
